* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5;
    color: #000000;
}

header {
    background-color : #f7e3d2;
    text-align : center;
    padding : 20px;

}

.logo {
    font-size: 40px;
    font-weight: bold;
    font-family: serif;
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 135px;
    margin-top: 10px;
    font-weight: bold;
}

.navbar a {
    text-decoration: none;
    color: #000000;

}

.navbar:hover {
    text-shadow: 2px 2px 2px 5px ; 
    transform : scale(1.1) ; 
    transition: all 0.3s ease;
}


.banner img {
    width: 75%;
    height: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #333333a1;
    border-radius: 8px;
    padding: 15px;
    border-radius: 25px;

}

main {
    padding: 20px;
}

.oeuvres, .artistes, .biographie {
    margin-bottom: 40px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #444;
}

.art-grid, .artist-grid {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
    }
    
 .art-item img, .artist-item img {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    .art-item img:hover, .artist-item img:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }
    

.art-item, .artist-item {
    background-color: #fff;
    padding: 15px;
    text-align: justify;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.art-item img, .artist-item img, .bio-content img {
    width: 100%;
    border-radius: 5px;
}

.bio-content {
    display: flex;
    gap: 20px;
    align-items: center;
}

.bio-content img {
    width: 40%;
    border-radius: 8px;
}

.bio-content p {
    width: 60%;
}

footer {
    background-color: #f7e3d2;
    text-align: center;
    padding: 20px;
}

.contact h2 {
    margin-bottom: 10px;
}

.social-icons a {
    margin: 0 10px;
}

.social-icons img {
    width: 24px;
    height: 24px;
}



@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        gap: 20px;
    }

    .banner img {
        width: 90%;
    }

    .art-grid, .artist-grid {
        grid-template-columns: 1fr;
    }

    .bio-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .bio-content img {
        width: 80%;
        margin-bottom: 20px;
    }

    .bio-content p {
        width: 100%;
    }
}


@media (min-width: 769px) and (max-width: 1024px) {
    .navbar {
        flex-direction: column
        align-items center;
        gap: 50px;
    }

    .banner img {
        width: 100%;
    }    

    .art-grid, .artist-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .bio-content img {
        flex-direction: column;
        align-items: center;
        width: 50%;
    }

    .bio-content p {
        width: 80%;
    }
}